body
{
	background-color: faint pink;
	background-image: url('https://cdn.nohat.cc/thumb/f/720/comvecteezy368721.jpg');
	background-position: right;
	background-repeat: no-repeat;
	background-size: 800px 755px;
	height: 100vh;
	width: 100%;
	
}
